body {
    --txt-color: #000;
    --bg-color: #fff;
}

body.dark-theme {
    --txt-color:#fff;
    --bg-color: #141d26;
}

body {
    text-align: center;
    background: var(--bg-color);
}

h1, p, a{
    color: var(--txt-color);
}

a {
    display: inline-block;
    margin-top: 40px;
}
