body {
    --txt-color: #000;
    --bg-color: #fff;
}

body.dark-theme {
    --txt-color:#fff;
    --bg-color: #141d26;
}

body {
    text-align: center;
    background: var(--bg-color);
}

h1, p {
    color: var(--txt-color);
}
